<!DOCTYPE html>
<html>
<!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="./css/common.css" />
    <link rel="stylesheet" type="text/css" href="./css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="./css/Chat.css" />
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>



</head>

<body class="flex-column">
    <div class="chat root">
        <div class="group">
            <div class="group1">
                <div class="group1">
                    <div class="group1">
                        <div class="group1">
                            <div class="group1">
                                <div class="group1">
                                    <div class="group1">
                                        <div class="group1">
                                            <div class="group1">
                                                <div class="group1">
                                                    <div class="group1">
                                                        <div class="group1">
                                                            <div class="group1">
                                                                <div class="group1">
                                                                    <div class="group1">
                                                                        <div class="group1">
                                                                            <div class="group1">
                                                                                <div class="group1">
                                                                                    <div class="group1">
                                                                                        <div class="group1">
                                                                                            <div class="group1">
                                                                                                <div class="group1">
                                                                                                    <div class="group1">
                                                                                                        <div class="group1">
                                                                                                            <div class="group1">
                                                                                                                <div class="group1">
                                                                                                                    <div class="group1">
                                                                                                                        <div class="group1">
                                                                                                                            <div class="group1">
                                                                                                                                <img class="cover" src="./assets/0a1cbf50bbf4522c1178ca23b1d85518.svg" alt="alt text" /><img class="cover1" src="./assets/868297cb2b77b44b2050d5706d6d495a.svg" alt="alt text" />
                                                                                                                            </div>
                                                                                                                            <img class="cover6" src="./assets/61696d1253faaaadd8886843715b4070.svg" alt="alt text" />
                                                                                                                        </div>
                                                                                                                        <img class="image12" src="./assets/ce28c72a6103cce190626d78c777ff89.svg" alt="alt text" />
                                                                                                                    </div>
                                                                                                                    <img class="image11" src="./assets/67ee6ef3866581fa79e772c82df571fb.svg" alt="alt text" />
                                                                                                                </div>
                                                                                                                <h3 class="subtitle4">Type a message Here...</h3>
                                                                                                            </div>
                                                                                                            <img class="image13" src="./assets/0dfaed1c94c7ea1cde63a747819fd0d6.svg" alt="alt text" />
                                                                                                        </div>
                                                                                                        <img class="image9" src="./assets/a8e12c5f8727a6a03236039099c4de16.svg" alt="alt text" />
                                                                                                    </div>
                                                                                                    <img class="image" src="./assets/a31be91378175879e32a0d5274a9c51c.svg" alt="alt text" />
                                                                                                </div>
                                                                                                <img class="image1" src="./assets/a31be91378175879e32a0d5274a9c51c.svg" alt="alt text" />
                                                                                            </div>
                                                                                            <img class="image10" src="./assets/721d680916dbb98cf5c9a8781cf053aa.svg" alt="alt text" />
                                                                                        </div>
                                                                                        <img class="image2" src="./assets/a31be91378175879e32a0d5274a9c51c.svg" alt="alt text" />
                                                                                    </div>
                                                                                    <img class="image101" src="./assets/721d680916dbb98cf5c9a8781cf053aa.svg" alt="alt text" />
                                                                                </div>
                                                                                <img class="image91" src="./assets/a8e12c5f8727a6a03236039099c4de16.svg" alt="alt text" />
                                                                            </div>
                                                                            <img class="image3" src="./assets/a31be91378175879e32a0d5274a9c51c.svg" alt="alt text" />
                                                                        </div>
                                                                        <img class="image4" src="./assets/a31be91378175879e32a0d5274a9c51c.svg" alt="alt text" />
                                                                    </div>
                                                                    <img class="image102" src="./assets/721d680916dbb98cf5c9a8781cf053aa.svg" alt="alt text" />
                                                                </div>
                                                                <img class="image5" src="./assets/a31be91378175879e32a0d5274a9c51c.svg" alt="alt text" />
                                                            </div>
                                                            <img class="image92" src="./assets/a8e12c5f8727a6a03236039099c4de16.svg" alt="alt text" />
                                                        </div>
                                                        <img class="cover5" src="./assets/96eee5717cf71e9f2144d0665c978f47.svg" alt="alt text" />
                                                    </div>
                                                    <img class="image7" src="./assets/cef7b0bd1ae19cda9df89f4468290d23.svg" alt="alt text" />
                                                </div>
                                                <img class="image71" src="./assets/9be781c1c646ef32ff1d0d40459c2290.svg" alt="alt text" />
                                            </div>
                                            <img class="image72" src="./assets/02940b1cfdb730468e7cd2820742c007.svg" alt="alt text" />
                                        </div>
                                        <div class="text">Last seen 3 hours ago</div>
                                    </div>
                                    <h5 class="highlight">21F-9097</h5>
                                </div>
                                <img class="image8" src="./assets/9142fd2aa3a8f6ac226245677084b940.svg" alt="alt text" />
                            </div>
                            <img class="cover2" src="./assets/239423660a0313cbb8968e722357225e.svg" alt="alt text" />
                        </div>
                        <div class="box1" style="--src:url(../assets/eadcb17df2fe09d8e6809ca055cb168e.svg)">
                            <img class="image41" src="./assets/fdcd7e2d144270c76eb10b2aa16466f8.svg" alt="alt text" />
                        </div>
                    </div>
                    <h3 class="subtitle3">Are we Meeting Today</h3>
                </div>
                <h3 class="subtitle2">21F-9290</h3>
            </div>
            <div class="box11" style="--src:url(../assets/eadcb17df2fe09d8e6809ca055cb168e.svg)">
                <img class="image41" src="./assets/643fda918bf3f07df25082b252bdbdc3.svg" alt="alt text" />
            </div>
        </div>
        <h3 class="subtitle31">Are we Meeting Today</h3>
        <h3 class="subtitle21">21F-9290</h3>
        <div class="box" style="--src:url(../assets/eadcb17df2fe09d8e6809ca055cb168e.svg)">
            <h3 class="subtitle32">Lets do this</h3>
        </div>
        <img class="image42" src="./assets/f390de9302acd8f50c492c12ff2877e6.svg" alt="alt text" />
        <h3 class="subtitle22">21F-9290</h3>
        <img class="image51" src="./assets/bd7e3f2d9164c137bee54cca3c82146e.svg" alt="alt text" />
        <div class="box2" style="--src:url(../assets/eadcb17df2fe09d8e6809ca055cb168e.svg)">
            <h3 class="subtitle33">Ok, See ya</h3>
        </div>
        <img class="image6" src="./assets/94f54103f2caa085787bd744577eed86.svg" alt="alt text" />
        <h3 class="subtitle23">21F-9290</h3>
        <img class="image52" src="./assets/73cc28f1f21e6a25017846af3dc80070.svg" alt="alt text" />
        <div class="box3" style="--src:url(../assets/eadcb17df2fe09d8e6809ca055cb168e.svg)">
            <img class="image53" src="./assets/3ac8a79fda5bd32f7e93b7cb6ac0d682.svg" alt="alt text" />
        </div>
        <img class="image43" src="./assets/2e9ef146429cf2bc4dc06f384c929654.svg" alt="alt text" />
        <h3 class="subtitle34">Whats the Agenda</h3>
        <h3 class="subtitle24">21F-9290</h3>
        <img class="cover4" src="./assets/eadcb17df2fe09d8e6809ca055cb168e.svg" alt="alt text" /><img class="image44" src="./assets/ce60ae8068b22be8d0724ff30008ccbc.svg" alt="alt text" />
        <h3 class="subtitle35">Are we Meeting Today</h3>
        <img class="image54" src="./assets/ed155c4edd4c9c1eeabf55e4003c2d0c.svg" alt="alt text" />
        <h3 class="subtitle25">21F-9290</h3>
        <img class="cover3" src="./assets/636d7d01c98e94adefdc730ff8c46ef6.svg" alt="alt text" /><img class="image31" src="./assets/c20c6288378bf9a373f3ba98df8c2af3.svg" alt="alt text" />
        <h3 class="subtitle1">Search</h3>
        <img class="image21" src="./assets/3cf2af5e8b6f4e0004d335ac4be7f915.svg" alt="alt text" /><img class="image14" src="./assets/1eb87eda80904b579c5cf555b03e3c07.svg" alt="alt text" />
        <h3 class="subtitle">Public</h3>
        <img class="image15" src="./assets/1eb87eda80904b579c5cf555b03e3c07.svg" alt="alt text" />
        <h3 class="subtitle5">Groups</h3>
        <img class="image16" src="./assets/1eb87eda80904b579c5cf555b03e3c07.svg" alt="alt text" />
        <h3 class="subtitle6">Direct</h3>
        <h1 class="hero_title">Chats</h1>
        <div class="group2">
            <div class="group3">
                <div class="group3">
                    <div class="group3">
                        <div class="group3">
                            <div class="group3">
                                <div class="group3">
                                    <div class="group3">
                                        <div class="group3">
                                            <div class="group3">
                                                <img class="decorator" src="./assets/c42b291eb60da911df75f8a04a854799.svg" alt="alt text" /><img class="cover7" src="./assets/021c6ac857f9c9cb870baa22be12a92c.svg" alt="alt text" />
                                            </div>
                                            <img class="image141" src="./assets/dfe00b5fad05d80cddd436edd4b86fff.svg" alt="alt text" />
                                        </div>
                                        <div class="info">Search for anything...</div>
                                    </div>
                                    <img class="image18" src="./assets/2ce66ff15445410e397f9b08c7e8361e.svg" alt="alt text" />
                                </div>
                                <img class="image17" src="./assets/a0c918133cb1b205961e9e6f09992cbc.svg" alt="alt text" />
                            </div>
                            <div class="group4">
                                <img class="image19" src="./assets/f7aba99b3d1d4c8006649c5e0b94e714.svg" alt="alt text" />
                                <p class="desc">9+</p>
                            </div>
                        </div>
                        <img class="image181" src="./assets/787c3aa87cab2f3423c1b0137537ae68.svg" alt="alt text" />
                    </div>
                    <img class="image20" src="./assets/9cfd653c0b05048b65355bad7ca93eae.svg" alt="alt text" />
                </div>
                <img class="image171" src="./assets/036d4350ec6456cf01830f6b400f7bf9.svg" alt="alt text" />
            </div>
            <h1 class="big_title">UBook</h1>
        </div>
        <img class="line" src="./assets/f396ff095e77c9c9bb3ca96839d1cf41.svg" alt="alt text" />
    </div>
    <script type="text/javascript">
        AOS.init();
        new Sticky('.sticky-effect');
    </script>
</body>

</html>