.forgot-password.root {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.forgot-password .paragraph {
  position: absolute;
  bottom: 212px;
  left: 325px;
  width: 99px;
  height: 20px;
  font: 600 14px/1.42 "Montserrat", Helvetica, Arial, serif;
  color: #475467;
}
.forgot-password .box2 {
  position: absolute;
  top: 656px;
  left: 180px;
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 40px;
  background-color: #3789ff;
  border-radius: 8px 8px 8px 8px;
  outline: 1px solid #e24949;
  outline-offset: -1px;
  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.047));
}
.forgot-password .text1 {
  margin: 10px auto;
  font: 600 14px/1.42 "Montserrat", Helvetica, Arial, serif;
  color: white;
}
.forgot-password .text {
  position: absolute;
  top: 562px;
  left: 180px;
  width: 138px;
  height: 20px;
  font: 600 14px/1.42 "Montserrat", Helvetica, Arial, serif;
  color: #344054;
}
.forgot-password .box1 {
  position: absolute;
  top: 588px;
  left: 180px;
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 44px;
  background-color: white;
  border-radius: 8px 8px 8px 8px;
  outline: 1px solid #d0d5dd;
  outline-offset: -1px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.047);
  overflow: hidden;
}
.forgot-password .paragraph1 {
  position: absolute;
  top: 522px;
  left: 180px;
  width: 212px;
  height: 20px;
  font: 600 14px/1.42 "Montserrat", Helvetica, Arial, serif;
  color: #475467;
}
.forgot-password .box11 {
  position: absolute;
  top: 472px;
  left: 180px;
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 44px;
  background-color: white;
  border-radius: 8px 8px 8px 8px;
  outline: 1px solid #d0d5dd;
  outline-offset: -1px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.047);
  overflow: hidden;
}
.forgot-password .text2 {
  position: absolute;
  top: 446px;
  left: 180px;
  width: 70px;
  height: 20px;
  font: 600 14px/1.42 "Montserrat", Helvetica, Arial, serif;
  color: #344054;
}
.forgot-password .paragraph2 {
  position: absolute;
  top: 374px;
  left: 180px;
  display: flex;
  justify-content: center;
  width: 360px;
  height: 40px;
  font: 600 14px/1.42 "Montserrat", Helvetica, Arial, serif;
  color: #475467;
  text-align: center;
}
.forgot-password .subtitle {
  position: absolute;
  top: 342px;
  left: 254.5px;
  display: flex;
  justify-content: center;
  width: 211px;
  height: 20px;
  font: 700 22px/0.9 "Montserrat", Helvetica, Arial, serif;
  color: #101828;
  text-align: center;
}
@media (max-width: 991px) {
  .forgot-password .subtitle {
    align-items: flex-start;
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  .forgot-password .subtitle {
    font-size: 18px;
  }
}
.forgot-password .box {
  position: absolute;
  top: 262px;
  left: 332px;
  display: flex;
  flex-direction: column;
  width: 56px;
  height: 56px;
  background-color: #f4ebff;
  border-radius: 28px 28px 28px 28px;
  outline: 10px solid #f9f5ff;
  outline-offset: -5px;
}
.forgot-password .image {
  margin: 18px 17px 17px 18px;
  width: 21px;
  max-width: 85%;
  height: 21px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 575px) {
  .forgot-password .image {
    margin: 18px 16px 17px;
  }
}
@media (max-width: 383px) {
  .forgot-password .image {
    margin: 18px 8px 17px;
  }
}
.forgot-password .image1 {
  position: relative;
  margin: 732px 0px 216px 20.9%;
  width: 11px;
  max-width: 85%;
  height: 12px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 991px) {
  .forgot-password .image1 {
    margin: 150px 0px 150px 20.9%;
  }
}
@media (max-width: 575px) {
  .forgot-password .image1 {
    margin: 80px 0px 80px 20.9%;
  }
}
@media (max-width: 383px) {
  .forgot-password .image1 {
    margin: 50px 0px 50px 20.9%;
  }
}
.forgot-password .group {
  position: absolute;
  top: 50%;
  right: 0px;
  display: flex;
  flex-direction: column;
  width: 720px;
  height: 960px;
  transform: translate(0, -50%);
}
.forgot-password .rect {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 720px;
  height: 960px;
  background-color: #3789ff;
  transform: translate(-50%, 0);
}
.forgot-password .image2 {
  position: absolute;
  top: 205px;
  left: 50%;
  width: 524px;
  height: 550px;
  -o-object-fit: cover;
  object-fit: cover;
  transform: translate(-50%, 0);
}