<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="profile-page">
      <img class="img-icon" alt="" src="./public/img@2x.png" />

      <div class="frame-parent">
        <div class="validator-wrapper">
          <div class="validator">
            <div class="base">
              <div class="base1"></div>
              <div class="line-parent">
                <img class="line-icon" alt="" />

                <h1 class="akhlaqahmed">Akhlaq Ahmed</h1>
                <div class="branching-patterns"></div>
              </div>
              <div class="my-posts-label">
                <h2 class="fast-student">Fast Student</h2>
              </div>
              <img
                class="bfdd0428b3a6948137ce6c5c233ed2-icon"
                loading="lazy"
                alt=""
                src="./public/bfdd0428b3a6948137ce6c5c233ed218-1@2x.png"
              />
            </div>
            <div class="my-posts-wrapper">
              <h1 class="my-posts">My Posts:</h1>
            </div>
          </div>
        </div>
        <div class="hashtags-parent">
          <div class="hashtags">
            <div class="hashtags-child"></div>
            <div class="followed-hashtags">Followed hashtags</div>
            <div class="tree-evolution-wrapper">
              <div class="tree-evolution"></div>
            </div>
            <div class="connect-button-label">
              <div class="number-filter">
                <button class="group">
                  <div class="group-child"></div>
                  <div class="work">#work</div>
                </button>
                <div class="group-parent">
                  <button class="group1">
                    <div class="group-item"></div>
                    <div class="mlsa">#mlsa</div>
                  </button>
                  <button class="group2">
                    <div class="group-inner"></div>
                    <div class="hr">#hr</div>
                  </button>
                </div>
              </div>
              <div class="ubook-label">
                <div class="group3">
                  <div class="rectangle-div"></div>
                  <div class="befastian">#befastian</div>
                </div>
                <div class="group4">
                  <div class="group-child1"></div>
                  <div class="fastisb">#fastisb</div>
                </div>
              </div>
              <div class="group-group">
                <div class="group5">
                  <div class="group-child2"></div>
                  <div class="userexperience">#userexperience</div>
                </div>
                <div class="group6">
                  <div class="group-child3"></div>
                  <div class="ux">#ux</div>
                </div>
              </div>
            </div>
            <div class="hashtags-inner">
              <div class="group-container">
                <div class="group7">
                  <div class="group-child4"></div>
                  <div class="ui">#ui</div>
                </div>
                <div class="group8">
                  <div class="group-child5"></div>
                  <div class="freelance">#freelance</div>
                </div>
              </div>
            </div>
          </div>
          <div class="personal-post1">
            <div class="personal-post1-child"></div>
            <div class="travel-app-design">Travel App Design</div>
            <div class="personal-post1-inner">
              <img
                class="frame-child"
                loading="lazy"
                alt=""
                src="./public/rectangle-22@2x.png"
              />
            </div>
          </div>
          <div class="branching-diversity-wrapper">
            <div class="branching-diversity">
              <div class="people-you-may-know-parent">
                <div class="people-you-may">People you may know:</div>
                <div class="tree-relationships">
                  <div class="privacy-policy-link">
                    <div class="terms-and-conditions-link">
                      <div class="logout-button-label">
                        <div class="shaheer">Shaheer</div>
                        <div class="leaf-cluster">
                          <div class="fast">FAST</div>
                        </div>
                      </div>
                      <div class="connect-btn">
                        <div class="followed-hashtags1">
                          <div class="muavia">Muavia</div>
                          <div class="pathways">
                            <div class="fast1">FAST</div>
                          </div>
                        </div>
                      </div>
                      <div class="people-you-may-know">
                        <div class="rizwan-parent">
                          <div class="rizwan">Rizwan</div>
                          <div class="muavia-name">
                            <div class="uet">UET</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="btn-parent">
                      <div class="btn">
                        <div class="btn-child"></div>
                        <div class="connect">Connect</div>
                      </div>
                      <div class="btn1">
                        <div class="btn-item"></div>
                        <div class="connect1">Connect</div>
                      </div>
                      <div class="btn2">
                        <div class="btn-inner"></div>
                        <div class="connect2">Connect</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="base-parent">
                <div class="base2"></div>
                <img
                  class="f897778bb82305bf7ab6008a85ef04-icon"
                  loading="lazy"
                  alt=""
                  src="./public/f897778bb82305bf7ab6008a85ef0431-1@2x.png"
                />

                <img
                  class="bf27725c2715ebfae35b07d87-1-icon"
                  loading="lazy"
                  alt=""
                  src="./public/2204458bf27725c2715ebfae35b07d87-1@2x.png"
                />

                <img
                  class="f787f0df40f4d643c8f4cb2d767bfd-icon"
                  loading="lazy"
                  alt=""
                  src="./public/8f787f0df40f4d643c8f4cb2d767bfdf-1@2x.png"
                />

                <img class="line-icon1" alt="" src="./public/line-1.svg" />
              </div>
              <div class="middle-nav">
                <div class="see-all">See All</div>
              </div>
            </div>
          </div>
        </div>
        <div class="new-post-icon">
          <div class="pp2">
            <div class="pp2-child"></div>
            <div class="egypt-through-my">Egypt through my lens</div>
            <div class="pp2-inner">
              <img
                class="frame-item"
                alt=""
                src="./public/rectangle-22@2x.png"
              />
            </div>
          </div>
        </div>
      </div>
      <header class="subtree">
        <div class="ubook-label1"></div>
        <div class="middlenav-home-profile">
          <h1 class="ubook">Ubook</h1>
        </div>
        <div class="combiner">
          <div class="middle-nav-wrapper">
            <div class="middle-nav1">
              <a href="http://localhost:3000/home/"><img
                class="home-icon"
                loading="lazy"
                alt=""
                src="./public/home.svg"
              /></a>

              <div class="new-post-post-social-media-sha-wrapper">
                <a href="http://localhost:3000/post/"><img
                  class="new-post-post-social-media-sha-icon"
                  loading="lazy"
                  alt=""
                  src="./public/9032159-new-post-post-social-media-share-icon-3@2x.png"
                /></a>
              </div>
              <div class="middle-nav-inner">
                <div class="notification-parent">
                  <img
                    class="notification-icon"
                    loading="lazy"
                    alt=""
                    src="./public/notification.svg"
                  />

                  <div class="search-bar-label-parent">
                    <div class="search-bar-label"></div>
                    <div class="search-bar-icon">9+</div>
                  </div>
                </div>
              </div>
              <div class="middle-nav-child">
                <a href="http://localhost:3000/chat/"><img
                  class="frame-inner"
                  loading="lazy"
                  alt=""
                  src="./public/group-48095433.svg"
                /></a>
              </div>
              <a href="http://localhost:3000/profile/"><img
                class="profile-icon"
                loading="lazy"
                alt=""
                src="./public/profile.svg"
              /></a>
            </div>
          </div>
          <div class="combiner-child"></div>
        </div>
        <div class="frame-group">
          <div class="branch-points-wrapper">
            <div class="branch-points"></div>
          </div>
          <div class="rectangle-parent">
            <div class="frame-child1"></div>
            <input class="search-title" placeholder="Search ..." type="text" />

            <div class="rectangle-group">
              <div class="frame-child2"></div>
              <a href="http://localhost:3000/search/"><img class="search-icon" alt="" src="./public/search.svg" /></a>
            </div>
          </div>
        </div>
      </header>
    </div>
  </body>
</html>
