<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Be Vietnam:wght@500;600&display=swap"
    />
  </head>
  <body>
    <div class="post">
      <div class="background-color-fill-parent">
        <div class="background-color-fill">
          <div class="media-attachment"></div>
          <img
            class="dot-menu-more-vertical-icon-6"
            loading="lazy"
            alt=""
            src="./public/3844442-dot-menu-more-vertical-icon-6@2x.png"
          />

          <img
            class="share-social-icon-1"
            loading="lazy"
            alt=""
            src="./public/9035090-share-social-icon-1@2x.png"
          />
        </div>
        <div class="home-profile">
          <header class="nav-parent">
            <div class="nav">
              <div class="nav-child"></div>
              <div class="rectangle-parent">
                <div class="frame-child"></div>
                <input class="frame-item" placeholder="Search " type="text" />

                <div class="rectangle-group">
                  <div class="frame-inner"></div>
                  <a href="http://localhost:3000/search/"><img class="search-icon" alt="" src="./public/search.svg" /></a>
                </div>
              </div>
            </div>
            <div class="logo-instance">
              <div class="logo">
                <h1 class="ubook">UBook</h1>
              </div>
            </div>
            <img class="line-icon" alt="" src="./public/line-3.svg" />

            <div class="middle-nav">
              <a href="http://localhost:3000/home"><img
                class="home-icon"
                loading="lazy"
                alt=""
                src="./public/home.svg"
              /></a>

              <div class="new-post-icon">
                <img
                  class="new-post-post-social-media-sha-icon"
                  alt=""
                  src="./public/9032159-new-post-post-social-media-share-icon-3@2x.png"
                />
              </div>
              <div class="middle-nav-inner">
                <div class="notification-parent">
                  <img
                    class="notification-icon"
                    loading="lazy"
                    alt=""
                    src="./public/notification.svg"
                  />

                  <div class="rectangle-container">
                    <div class="rectangle-div"></div>
                    <div class="div">9+</div>
                  </div>
                </div>
              </div>
              <div class="middle-nav-child">
                <a href="http://localhost:3000/chat"><img
                  class="group-icon"
                  alt=""
                  src="./public/group-48095433.svg"
                /></a>
              </div>
              <a href="http://localhost:3000/profile"><img class="profile-icon" alt="" src="./public/profile.svg" /></a>
            </div>
          </header>
        </div>
        <div class="footer-area">
          <div class="frame-div">
            <div class="frame-child1"></div>
            <img
              class="ellipse-icon"
              loading="lazy"
              alt=""
              src="./public/ellipse-23@2x.png"
            />

            <div class="mlsacfd-parent">
              <h1 class="mlsacfd">MLSA.cfd</h1>
              <div class="it-services-and-consulting-wrapper">
                <h1 class="it-services-and">IT Services and Consulting</h1>
              </div>
              <div class="share-social-icon">
                <img
                  class="loc-1-icon"
                  loading="lazy"
                  alt=""
                  src="./public/loc-1@2x.png"
                />

                <h1 class="faisalabad">Faisalabad</h1>
              </div>
            </div>
            <div class="play-store-apple">
              <div class="phinstagram-logo-parent">
                <img
                  class="phinstagram-logo-icon"
                  loading="lazy"
                  alt=""
                  src="./public/phinstagramlogo.svg"
                />

                <img
                  class="rifacebook-fill-icon"
                  loading="lazy"
                  alt=""
                  src="./public/rifacebookfill.svg"
                />

                <img
                  class="carbonlogo-youtube-icon"
                  loading="lazy"
                  alt=""
                  src="./public/carbonlogoyoutube.svg"
                />

                <div class="linkedin-icon-1-wrapper">
                  <img
                    class="linkedin-icon-1"
                    loading="lazy"
                    alt=""
                    src="./public/104493-linkedin-icon-1@2x.png"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="auto-layout-horizontal-wrapper">
            <div class="auto-layout-horizontal">
              <div class="frame">
                <button class="auto-layout-horizontal1">
                  <div class="create-new-post">Create new post</div>
                </button>
                <div class="logo-area">
                  <div class="social-media-buttons-parent">
                    <div class="social-media-buttons">
                      <div class="frame-wrapper">
                        <img
                          class="frame-icon"
                          loading="lazy"
                          alt=""
                          src="./public/frame.svg"
                        />
                      </div>
                      <div class="drag-photos-and">
                        Drag photos and videos here
                      </div>
                    </div>
                    <div class="import-from-computer-button">
                      <div class="auto-layout-horizontal2">
                        <div class="select-from-computer">
                          Select from computer
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <! -------- footer -------->
    <div class="footer">
        <div class="container1">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android & IOS</p>
                    <div class="app-logo">
                        <a href=""><img src="images/play-store.png"></a>
                        <a href=""><img src="images/app-store.png"></a>
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="images/logo2.png">
                    <p>Our Purpose Is To Provide Quality Thing At Best Prices To Our Customers.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <a href=""><li>Blogs</li></a>
                        <a href=""><li>Discounts</li></a>
                        <a href=""><li>Return Policy</li></a>
                        <a href=""><li>Contact Us</li></a>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <a href=""><li>Twitter</li></a>
                        <a href=""><li>Threads</li></a>
                        <a href=""><li>Facebook</li></a>
                        <a href=""><li>Instagram</li></a>
                    </ul>
                </div>
            </div>
            <hr><br>
           <p class="copyright">Copyright - Muavia Abdul Moiz</p>
        </div>
    </div>
  </body>
</html>
