<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


    <link rel="stylesheet" type="text/css" href="./css/common.css" />
    <link rel="stylesheet" type="text/css" href="./css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="./css/ForgotPassword.css" />




</head>

<body class="flex-column">
    <form class="forgot-password root" id="resetpassword">
        <a href=""><div class="paragraph">Back to log in</div></a>
        <a href=""><div class="box2">
            <div class="text1">Reset password</div>
        </div></a>
        <div class="text">Re-Enter Password</div>
        <input type="password" id="resetpassword" class="box1" style="border:none;" placeholder="Re-Enter Password">
        <div class="paragraph1">Must be at least 8 characters.</div>
        <input type="password" id="password" class="box11" style="border:none;" placeholder="Enter Password">
        <div class="text2">Password</div>
        <p class="paragraph2">Your new password must be different to previously used passwords.</p>
        <h3 class="subtitle">Set new password</h3>
        <div class="box"><img class="image" src="./assets/red_key_icon.png" alt="alt text" /></div>
        <img class="image1" src="./assets/blue_arrow_icon.png" alt="alt text" />
        <div class="group">
            <div class="rect"></div>
            <img class="image2" src="./assets/user_growth_charts_interface.png" alt="alt text" />
        </div>
    </form>
    <script >
        document.getElementById("resetpassword").addEventListener("submit", (event) => {
      event.preventDefault();

      const password = document.getElementById("password").value;
      const confirmpassword = document.getElementById("confirmpassword").value;
  
      const data = {
          password:password,
          confirmpassword:confirmpassword
      };
  
      postData("https://jsonplaceholder.typicode.com/posts", data)
          .then((response) => {
              console.log(response);
          })
          .catch((error) => {
              console.error("Error:", error);
          });
  });
  
  async function postData(url = "", data = {}) {
      const response = await fetch(url, {
          method: "POST",
          headers: {
              "Content-Type": "application/json"
          },
          body: JSON.stringify(data)
      });
  
      return await response.json();
  }
      </script>
</body>

</html>