<!DOCTYPE html>
<html>
<!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="./css/common.css" />
    <link rel="stylesheet" type="text/css" href="./css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="./css/Login.css" />
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>



</head>

<body class="flex-column">
    <form class="login root">
        <a href=""><div class="text2">Sign up</div></a>
        <div class="text">Don’t have an account?</div>
        <a href=""><div class="box2">
            <div class="flex_row">
                <img class="image2" src="./assets/yellow_abstract_pattern.png" alt="alt text" />
                <div class="text1">Sign in with Google</div>
            </div>
        </div></a>
        <img class="image1" src="./assets/red_ink_blob.png" alt="alt text" /><img class="image11" src="./assets/green_paint_splatter.png" alt="alt text" /><img class="image" src="./assets/abstract_blue_gradient.png" alt="alt text" />
        <a href="http://localhost:3000/home/"><div class="box1">
            <div class="text3">Sign in</div>
        </div></a>
        <a href=""><div class="text21">Forgot password</div></a>
        <div class="rect"></div>
        <div class="text11">Remember for 30 days</div>
        <input type="password" class="box" style="border:none;"> 
        <div class="text12">Password</div>
        <input type="email" class="box3" style="border:none;"> 
        <div class="text13">Email</div>
        <div class="text4">Welcome back! Please enter your details.</div>
        <h3 class="subtitle">Log in</h3>
        <div class="group">
            <div class="rect1"></div>
            <img class="image3" src="./assets/user_growth_charts_interface.png" alt="alt text" />
        </div>
    </form>
    <script type="text/javascript">
        AOS.init();
        new Sticky('.sticky-effect');
    </script>
</body>

</html>