<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="home">
      <img class="img-icon" alt="" src="./public/img@2x.png" />

      <div class="home-inner">
        <div class="frame-parent">
          <div class="frame-wrapper">
            <div class="rectangle-parent">
              <div class="frame-child"></div>
              <div class="linkedin-celebrate-icon-clappi-parent">
                <img
                  class="linkedin-celebrate-icon-clappi"
                  alt=""
                  src="./public/linkedincelebrateiconclappinghands500@2x.png"
                />

                <img
                  class="linkedin-support-icon-heartinh"
                  alt=""
                  src="./public/linkedinsupporticonheartinhand500@2x.png"
                />

                <img
                  class="linkedin-love-icon-heart500"
                  alt=""
                  src="./public/linkedinloveiconheart500@2x.png"
                />
              </div>
            </div>
          </div>
          <div class="frame-item"></div>
        </div>
      </div>
      <div class="frame-group">
        <div class="nav-parent">
          <header class="nav">
            <div class="nav-child"></div>
            <div class="rectangle-group">
              <div class="frame-inner"></div>
              <div class="search-wrapper">
                <div class="search">Search</div>
              </div>
              <div class="rectangle-container">
                <div class="rectangle-div"></div>
                <a href="http://localhost:3000/search/"><img class="search-icon" alt="" src="./public/search.svg" /></a>
              </div>
            </div>
          </header>
          <div class="logo">
            <b class="ubook">UBook</b>
          </div>
          <div class="frame-container">
            <div class="middle-nav-wrapper">
              <div class="middle-nav">
                <a href="http://localhost:3000/home/"><img
                  class="home-icon"
                  loading="lazy"
                  alt=""
                  src="./public/home.svg"
                /></a>

                <div class="new-post-post-social-media-sha-wrapper">
                  <a href="http://localhost:3000/post/"><img
                    class="new-post-post-social-media-sha-icon"
                    alt=""
                    src="./public/9032159-new-post-post-social-media-share-icon-3@2x.png"
                  /></a>
                </div>
                <div class="middle-nav-inner">
                  <div class="notification-parent">
                    <img
                      class="notification-icon"
                      loading="lazy"
                      alt=""
                      src="./public/notification.svg"
                    />

                    <div class="group-div">
                      <div class="frame-child1"></div>
                      <div class="div">9+</div>
                    </div>
                  </div>
                </div>
                <div class="middle-nav-child">
                  <a href="http://localhost:3000/chat"><img
                    class="group-icon"
                    loading="lazy"
                    alt=""
                    src="./public/group-48095433.svg"
                  /></a>
                </div>
                <a href="http://localhost:3000/profile"><img
                  class="profile-icon"
                  loading="lazy"
                  alt=""
                  src="./public/profile.svg"
                /></a>
              </div>
            </div>
            <div class="line-div"></div>
          </div>
        </div>
        <div class="frame-div">
          <div class="frame-parent1">
            <div class="frame-parent2">
              <div class="frame-parent3">
                <div class="frame-parent4">
                  <div class="vector-parent">
                    <img
                      class="rectangle-icon"
                      alt=""
                      src="./public/rectangle-9.svg"
                    />

                    <div class="frame-parent5">
                      <div class="rectangle-parent1">
                        <img
                          class="frame-child2"
                          alt=""
                          src="./public/rectangle-19@2x.png"
                        />

                        <img
                          class="bfdd0428b3a6948137ce6c5c233ed2-icon"
                          loading="lazy"
                          alt=""
                          src="./public/bfdd0428b3a6948137ce6c5c233ed218-1@2x.png"
                        />
                      </div>
                      <div class="frame-wrapper1">
                        <div class="akhlaq-ahmed-parent">
                          <div class="akhlaq-ahmed">Akhlaq Ahmed</div>
                          <div class="data-aggregator">
                            <div class="my-posts-10">My Posts: 10</div>
                          </div>
                        </div>
                      </div>
                      <div class="value-filter">
                        <div class="fast-student">Fast Student</div>
                      </div>
                    </div>
                    <div class="output-combiner"></div>
                  </div>
                  <div class="iterative-processor">
                    <div class="base-parent">
                      <div class="base">
                        <div class="base1"></div>
                        <div class="write-something">Write something ...</div>
                        <img class="edit-icon" alt="" src="./public/edit.svg" />

                        <img class="line-icon" alt="" />

                        <img
                          class="bfdd0428b3a6948137ce6c5c233ed2-icon1"
                          loading="lazy"
                          alt=""
                          src="./public/bfdd0428b3a6948137ce6c5c233ed218-1-1@2x.png"
                        />
                      </div>
                      <div class="base2">
                        <div class="base3"></div>
                        <div class="base4">
                          <div class="base5"></div>
                          <img
                            class="send-icon"
                            alt=""
                            src="./public/send.svg"
                          />
                        </div>
                        <img
                          class="image-icon"
                          alt=""
                          src="./public/image.svg"
                        />

                        <input class="photo" placeholder="Photo" type="text" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-wrapper2">
                  <div class="frame-parent6">
                    <div class="hashtags-wrapper">
                      <div class="hashtags">
                        <div class="hashtags-child"></div>
                        <div class="flow-controller">
                          <div class="followed-hashtags">Followed hashtags</div>
                        </div>
                        <div class="line-wrapper">
                          <div class="line"></div>
                        </div>
                        <div class="frame-parent7">
                          <div class="frame-wrapper3">
                            <div class="group-parent">
                              <button class="group">
                                <div class="group-child"></div>
                                <div class="work">#work</div>
                              </button>
                              <div class="group-group">
                                <button class="group1">
                                  <div class="group-item"></div>
                                  <div class="mlsa">#mlsa</div>
                                </button>
                                <button class="group2">
                                  <div class="group-inner"></div>
                                  <div class="hr">#hr</div>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="group-container">
                            <div class="group3">
                              <div class="group-child1"></div>
                              <div class="befastian">#befastian</div>
                            </div>
                            <div class="group4">
                              <div class="group-child2"></div>
                              <div class="fastisb">#fastisb</div>
                            </div>
                          </div>
                          <div class="frame-wrapper4">
                            <div class="group-parent1">
                              <div class="group5">
                                <div class="group-child3"></div>
                                <div class="userexperience">
                                  #userexperience
                                </div>
                              </div>
                              <div class="group6">
                                <div class="group-child4"></div>
                                <div class="ux">#ux</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="hashtags-inner">
                          <div class="group-parent2">
                            <div class="group7">
                              <div class="group-child5"></div>
                              <div class="ui">#ui</div>
                            </div>
                            <div class="group8">
                              <div class="group-child6"></div>
                              <div class="freelance">#freelance</div>
                            </div>
                          </div>
                        </div>
                        <div class="plus"></div>
                      </div>
                    </div>
                    <div class="rectangle-parent2">
                      <div class="frame-child3"></div>
                      <img
                        class="d5e374d488e006dac0c4a35bb8878d-icon"
                        loading="lazy"
                        alt=""
                        src="./public/d5e374d488e006dac0c4a35bb8878d76-1@2x.png"
                      />

                      <div class="frame-parent8">
                        <div class="frame-wrapper5">
                          <div class="frame-parent9">
                            <div class="mlsa-parent">
                              <div class="mlsa1">MLSA</div>
                              <div class="fast-society">Fast Society</div>
                            </div>
                            <div class="condition-branch">
                              <img
                                class="condition-branch-child"
                                alt=""
                                src="./public/group-48095420.svg"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="travel-app-design">Travel App Design</div>
                      </div>
                      <img
                        class="chat-icon"
                        loading="lazy"
                        alt=""
                        src="./public/chat.svg"
                      />

                      <div class="bookmark"></div>
                      <input
                        class="group-input"
                        placeholder="Add comment.."
                        type="text"
                      />

                      <div class="sequence-controller">
                        <img
                          class="sequence-controller-child"
                          alt=""
                          src="./public/rectangle-22@2x.png"
                        />

                        <div class="plus1"></div>
                        <img
                          class="iconlylight-outlineplus"
                          loading="lazy"
                          alt=""
                          src="./public/iconlylight-outlineplus.svg"
                        />
                      </div>
                      <div class="variable-holder">
                        <div class="function-call">
                          <div class="uiwlike-o-wrapper">
                            <img
                              class="uiwlike-o-icon"
                              loading="lazy"
                              alt=""
                              src="./public/uiwlikeo.svg"
                            />
                          </div>
                          <div class="div1">8</div>
                          <div class="send-wrapper">
                            <img
                              class="send-icon1"
                              loading="lazy"
                              alt=""
                              src="./public/send-1.svg"
                            />
                          </div>
                        </div>
                        <div class="bookmark-wrapper">
                          <img
                            class="bookmark-icon"
                            loading="lazy"
                            alt=""
                            src="./public/bookmark.svg"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-wrapper6">
                <div class="base-group">
                  <div class="base6">
                    <div class="base7"></div>
                    <div class="people-you-may-know-wrapper">
                      <div class="people-you-may">People you may know:</div>
                    </div>
                    <div class="people-wrapper">
                      <div class="people">
                        <div class="div2">
                          <img
                            class="f897778bb82305bf7ab6008a85ef04-icon"
                            loading="lazy"
                            alt=""
                            src="./public/f897778bb82305bf7ab6008a85ef0431-1@2x.png"
                          />

                          <div class="shaheer-parent">
                            <div class="shaheer">Shaheer</div>
                            <div class="fast">FAST</div>
                          </div>
                          <div class="btn-wrapper">
                            <div class="btn">
                              <div class="btn-child"></div>
                              <div class="connect">Connect</div>
                            </div>
                          </div>
                        </div>
                        <div class="div3">
                          <div class="bf27725c2715ebfae35b07d87-1-wrapper">
                            <img
                              class="bf27725c2715ebfae35b07d87-1-icon"
                              loading="lazy"
                              alt=""
                              src="./public/2204458bf27725c2715ebfae35b07d87-1@2x.png"
                            />
                          </div>
                          <div class="inner">
                            <div class="muavia-parent">
                              <div class="muavia">Muavia</div>
                              <div class="fast1">FAST</div>
                            </div>
                          </div>
                          <div class="btn-container">
                            <div class="btn1">
                              <div class="btn-item"></div>
                              <div class="connect1">Connect</div>
                            </div>
                          </div>
                        </div>
                        <div class="div4">
                          <img
                            class="f787f0df40f4d643c8f4cb2d767bfd-icon"
                            loading="lazy"
                            alt=""
                            src="./public/8f787f0df40f4d643c8f4cb2d767bfdf-1@2x.png"
                          />

                          <div class="rizwan-parent">
                            <div class="rizwan">Rizwan</div>
                            <div class="uet">UET</div>
                          </div>
                          <div class="btn-frame">
                            <div class="btn2">
                              <div class="btn-inner"></div>
                              <div class="connect2">Connect</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="data-aggregator1">
                      <img
                        class="line-icon1"
                        loading="lazy"
                        alt=""
                        src="./public/line-1.svg"
                      />

                      <div class="output-processor">
                        <div class="see-all">See All</div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-wrapper7">
                    <div class="rectangle-parent3">
                      <div class="frame-child4"></div>
                      <div class="frame-parent10">
                        <div class="frame-parent11">
                          <div class="polygon-parent">
                            <img
                              class="polygon-icon"
                              loading="lazy"
                              alt=""
                              src="./public/polygon-1.svg"
                            />

                            <img
                              class="teamwork-transparent-1"
                              alt=""
                              src="./public/10teamwork-transparent-1@2x.png"
                            />
                          </div>
                          <div class="try-premium-for-container">
                            <p class="try-premium">Try Premium</p>
                            <p class="for-free">for free</p>
                          </div>
                        </div>
                        <div class="ellipse-div"></div>
                        <div class="frame-child5"></div>
                      </div>
                      <div class="frame-parent12">
                        <div class="one-month-free-wrapper">
                          <div class="one-month-free">--One month free</div>
                        </div>
                        <button class="frame-button">
                          <div class="frame-child6"></div>
                          <div class="try-free">Try free</div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper8">
              <div class="rectangle-parent4">
                <div class="frame-child7"></div>
                <div class="frame-wrapper9">
                  <div class="frame-parent13">
                    <div class="frame-wrapper10">
                      <div class="frame-parent14">
                        <div class="frame-parent15">
                          <div class="haimana-uta-parent">
                            <div class="haimana-uta">Haimana Uta</div>
                            <img
                              class="frame-child8"
                              loading="lazy"
                              alt=""
                              src="./public/rectangle-21@2x.png"
                            />
                          </div>
                          <div class="ui-designer">UI Designer</div>
                        </div>
                        <div class="frame-wrapper11">
                          <img
                            class="frame-child9"
                            loading="lazy"
                            alt=""
                            src="./public/group-48095420.svg"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="photo-is-perfect">-Photo is perfect</div>
                  </div>
                </div>
                <div class="rectangle-parent5">
                  <img
                    class="frame-child10"
                    alt=""
                    src="./public/rectangle-22@2x.png"
                  />

                  <img
                    class="plus-icon"
                    loading="lazy"
                    alt=""
                    src="./public/plus.svg"
                  />
                </div>
                <div class="frame-wrapper12">
                  <div class="frame-parent16">
                    <div class="frame-wrapper13">
                      <div class="frame-parent17">
                        <div class="uiwlike-o-parent">
                          <img
                            class="uiwlike-o-icon1"
                            loading="lazy"
                            alt=""
                            src="./public/uiwlikeo-1.svg"
                          />

                          <div class="div5">+99</div>
                        </div>
                        <div class="chat-wrapper">
                          <img
                            class="chat-icon1"
                            loading="lazy"
                            alt=""
                            src="./public/chat-1.svg"
                          />
                        </div>
                        <div class="frame-wrapper14">
                          <div class="parent">
                            <div class="div6">8</div>
                            <img
                              class="send-icon2"
                              loading="lazy"
                              alt=""
                              src="./public/send-2.svg"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <img
                      class="bookmark-icon1"
                      loading="lazy"
                      alt=""
                      src="./public/bookmark.svg"
                    />
                  </div>
                </div>
                <div class="plus2"></div>
                <div class="rectangle-parent6">
                  <div class="frame-child11"></div>
                  <img
                    class="frame-child12"
                    loading="lazy"
                    alt=""
                    src="./public/rectangle-24@2x.png"
                  />

                  <div class="write-a-comment-wrapper">
                    <div class="write-a-comment">Write a comment</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
